

header {
  z-index: -1;
  position: static;
  margin-top: 110px;
}

.letter-white {
  color: white;
}

.navbar  {
  background-color: white;
  border-color: white;

}

.button-burger {
  margin-left: 5vh;
  margin-top: 2vh;
}

.logo {
  padding-top: 10px;
  width: 13vh;
  margin-left: 1vh;
}

.logo2 {
  padding-top: 15px;
  width: 15vh;
  margin-left: 12vh;
}

.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 15px;
}

.logo-blanco {
  width: 10vh;
  margin-left: 1vh;
}

.letter-white {
  color: white;
}

.background-white {
  background-color: white;
  outline-color: white;
  color: black;
  border-color: white;
}

.background-yellow {
  background-color: #F7B543;
}

.border-white {
   outline: white solid 2px;
   outline-offset: 5vh;
 }

 .border-white-movil {
    outline: white solid 2px;
  }

  .h3-conduce{
    margin-top: 10vh;
  }

  .text-conduce {
    margin-top: 3vh;
  }

  .button-conducer{
    margin-top: 3vh;
  }

.new-app {
  text-align:right;
  font-size: 4vh;
  bottom: 6vh;
  color: white;
}

.new-app2 {
  text-align:left;
  font-size: 3vh;
  bottom: 6vh;
  color: white;
}


.space {
  height: 10vh;
}

.margin-small {
  margin-top: 5vh;
}


.background-color {
  background-color: #F7B543;
  margin-top: 25vh;
  padding: 10px;
}

.background-color-movil {
  background-color: #F7B543;
  padding: 9vh;
  position: absolute;
  margin-top: 20vh;
  margin-left: 10vh;
}


.taxi {
  background-image: url("../assets/images/taxi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
  height: 100vh;
}

.taxi-movile {
  background-image: url("../assets/images/taxi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.yellow {
  background-color: #F7B543;
  height: 70vh;
}

.background-black {
  background-color: #F7B543;
  height: 90vh;
}

.movil {
  background-image: url("../assets/images/Iphone6Plus.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  height: 60vh;
  top: 8vh;
}

.paragraph2 {
  margin-top: 2vh;
  font-weight: 200;
  font-size: 2.5vh;
}

.paragraph1 {
  margin-top: 3vh;
  font-weight: 200;
  font-size: 2.5vh;
}

.margin-left {
  margin-right: 6vh;
}


.drive {
  background-image: url("../assets/images/conduce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 60%;
  height: 50vh;
}

.frame-conduce{
  background-color: rgba(0, 0, 0, 0.5);
  height: 50vh;
}

.background-opacity {
  background-color: rgba(0, 0, 0, 0.5);
}

#map {
  height: 20vh;
  width: 50vh;
}
