

header {
  z-index: -1;
  position: static;
  margin-top: 110px;
}

.navbar  {
  background-color: white;
  border-color: white;

}

.button-burger {
  margin-left: 5vh;
  margin-top: 2vh;
}

.logo {
  padding-top: 10px;
  width: 13vh;
  margin-left: 1vh;
}

.logo2 {
  padding-top: 15px;
  width: 15vh;
  margin-left: 12vh;
}

.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 15px;
}

.logo-blanco {
  width: 10vh;
  margin-left: 1vh;
}

.letter-white {
  color: white;
}

.background-white {
  background-color: white;
  outline-color: white;
  color: black;
  border-color: white;
}

.border-white {
   outline: white solid 2px;

}

.space {
  height: 10vh;
}


.background-color {
  background-color: #F7B543;
  margin-top: 160px;
  padding: 10px;
}

.background-color-movil {
  background-color: #F7B543;
  padding: 9vh;
  position: absolute;
  margin-top: 20vh;
  margin-left: 10vh;
}


.taxi {
  background-image: url("../assets/images/taxi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
  height: 100vh;
}

.taxi-movile {
  background-image: url("../assets/images/taxi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.yellow {
  background-color: #F7B543;
  height: 60vh;
}

.background-black {
  background-color: #F7B543;
  height: 80vh;
}

.movil {
  background-image: url("../assets/images/Iphone6Plus.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  height: 50vh;
  top: 5vh;
}
